/* CSS Variables */
:root {
  --main-color: #e3e2df;
  --second-color: #000000;
  --third-color: #9a1750;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
